.title-area {
	padding: 5px 10px;
	margin: 0 0 10px 0;
	height: 40px;
}

.title {
	color: #00796b;
	font-family: 'Noto Serif', serif;
	font-size: 2rem;
	margin: 0;
}

.chip-wrapper {
	padding: 10px 0;
}

.chip {
	font-family: serif;
}

#photo-grid {
	padding: 10px 0 0 0;
}

.photo-item {
	width: 30%;
	cursor: pointer;
}

.photo-item img {
	width: 100%;
	transition: .5s ease;
}

.photo-item img:hover {
	transform: scale(1.03);
}

.icon-wrapper {
	padding: 5px 10px;
	margin: 0 0 10px 0;
	height: 40px;
	display: flex;
	align-items: center;
}

.detail-content {
	font-family: 'Noto Serif JP', serif;
}

.content-title {
	font-size: 1.3rem;
	color: #00796b;
	margin: 15px 0 0;
}

.detail-image-wrapper {
	width: 100%;
	padding: 5px;
}

.detail-image {
	width: 100%;
	border-radius: 5px;
}

@media ( max-width:468px ){
	.photo-item {
		width: 45%;
	}
}