.title-area {
	padding: 15px 10px 5px 10px;
	margin: 0 0 10px 0;
	height: 50px;
	display: flex;
	align-items: center;
}

.title {
	color: #00796b;
	font-family: 'Noto Serif', serif;
	font-size: 2rem;
	margin: 0;
}

.chip-wrapper {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fav-icon {
	margin: 0;
	display: flex;
	cursor: pointer;
	user-select: none;
}

.chip {
	font-family: serif;
}

#photo-grid {
	padding: 10px 0 0 0;
}

.photo-item {
	width: 30%;
	cursor: pointer;
}

.photo-item img {
	width: 100%;
	transition: .5s ease;
}

.photo-item img:hover {
	transform: scale(1.03);
}

.icon-wrapper {
	padding: 15px 10px;
	height: 50px;
	display: flex;
	align-items: center;
}

.detail-content {
	font-family: 'Noto Serif JP', serif;
}

.detail-content > p {
	margin: 5px 0 0;
}

.fav-btn-wrapper {
	margin: 15px 0 0 0;
}

.content-title {
	font-size: 1.3rem;
	color: #00796b;
	margin: 6px 0 0;
}

.fav-btn-wrapper > span {
	margin: 0 5px 0 0;
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.fav-btn-wrapper .material-icons {
	margin: 0 3px 0;
}

.row .detail-image-wrapper.col {
	width: 100%;
	padding: 0;
}

.detail-image {
	width: 100%;
}

.user-image {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 120px;
	margin: 0 auto;
}

.user-name {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
	font-family: serif;
}

.post-date-icon {
	display: flex;
	align-items: center;
}

.post-date-icon .material-icons {
	font-size: 1rem;
}

.follow-btn-wrapper {
	text-align: center;
	margin: 0;
}

.like-icon.like-anime {
	animation: like-animation .3s ease;
}

@keyframes like-animation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

@media ( max-width:468px ){
	.photo-item {
		width: 45%;
	}
}