.title {
	color: #00796b;
	font-family: 'Noto Serif', serif;
	font-size: 3.5rem;
	margin: 15px 0 10px 0;
}

.chip-wrapper {
	margin: 1rem 0;
}

.chip {
	font-family: serif;
}

#photo-grid {
	margin: 20px 0 0 0;
}

.photo-item {
	width: 30%;
	cursor: pointer;
}

.photo-item img {
	width: 100%;
	transition: .5s ease;
}

.photo-item img:hover {
	transform: scale(1.03);
}

.icon-wrapper {
	margin: 15px 0;
}

.detail-content {
	font-family: 'Noto Serif JP', serif;
}

.content-title {
	font-size: 2rem;
	color: #00796b;
	margin: 15px 0 0;
}

.detail-image-wrapper {
	width: 100%;
	padding: 5px;
}

.detail-image {
	width: 100%;
	border-radius: 5px;
}

@media ( max-width:375px ){
	.photo-item {
		width: 45%;
	}
}